p {
    margin: 25px 25px;
    padding: 25px;
    text-align: justify;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}