h1 {
    margin: 0;
    padding: 20px 0;
    color: #f08902;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}